@font-face {
	font-family: 'Helvetica-Normal';
	src: url('../../assets/fonts/Helvetica-Normal.eot');
	src: url('../../assets/fonts/Helvetica-Normal.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Helvetica-Normal.woff2') format('woff2'),
		url('../../assets/fonts/Helvetica-Normal.woff') format('woff'),
		url('../../assets/fonts/Helvetica-Normal.ttf') format('truetype'),
		url('../../assets/fonts/Helvetica-Normal.svg#Helvetica-Normal') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Bold';
	src: url('../../assets/fonts/Helvetica-Bold.eot');
	src: url('../../assets/fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Helvetica-Bold.woff2') format('woff2'),
		url('../../assets/fonts/Helvetica-Bold.woff') format('woff'),
		url('../../assets/fonts/Helvetica-Bold.ttf') format('truetype'),
		url('../../assets/fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica-Oblique';
	src: url('../../assets/fonts/Helvetica-Oblique.eot');
	src: url('../../assets/fonts/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Helvetica-Oblique.woff2') format('woff2'),
		url('../../assets/fonts/Helvetica-Oblique.woff') format('woff'),
		url('../../assets/fonts/Helvetica-Oblique.ttf') format('truetype'),
		url('../../assets/fonts/Helvetica-Oblique.svg#Helvetica-Oblique') format('svg');
	font-weight: 500;
	font-style: italic;
}
