//Colors
$body:#f5f5f5;
$blue:#409CD1;
$blue-hover:#66b0da;
$white:#ffffff;
$red:#E74C3C;
$green:#41C4AB;
$text:#333333;
$gray-l:#CCCCCC;
$grayish:#999999;
$slid-back:#f2f2f2;

//font size
$font-lg:18px;
$font:14px;
$font-sm:12px;
$smallest:10px;

//font family
$normal:'Helvetica-Normal';
$bold:'Helvetica-Bold';
$obli:'Helvetica-Oblique';
