.svg-sprite {
    font-size: 10px;
}

.svg-sprite:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 0em 0em;
}

.no-svg .svg-sprite:before {
    background-image: url("../svg/sprite.png");
}




