body{
  background: $body;
}

main{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;

  @media screen and (min-width: 1025px){
      padding: 0px;
  }
}

a{
  text-decoration: none;

  &:hover, &:focus{
    text-decoration: none;
  }
}

.hidden{
  opacity: 0 !important;
  height: 0 !important;
  visibility: hidden !important;
  margin-bottom: 0% !important;
  transition: all .3s ease-in-out;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote{
  line-height: 21px;
  font-size:$font-sm;
  color:$text;
  font-family: $obli;
}

.sort{
  padding: 50px 0 25px 0;
  width: 100%;
  text-align: right;
  font-family:$bold;
  font-size: $font;
  color: $grayish;
  line-height: 20px;
  display: none;

  @media screen and (min-width: 992px){
      display: block;
  }

  &.mob{
    display: block !important;
    text-align: left;
    padding: 10px 24px 10px 24px;
    color:$blue;
    background: $white;
    margin-bottom: 10px;
    border: 1px solid $blue;

    @media screen and (min-width: 992px){
        display: none !important;
    }
  }

  &.mob select{
    color:$blue;
    border: none;
  }
}


.sort select {
  margin-left: 14px;
  text-indent: 7.5px;
  line-height: 41px;
  padding: 0 30px 0 7.5px;
  height: 43px;
  border-radius: 0;
  font-size: 14px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background: #fff no-repeat 92%;
  background-image: url('../../assets/img/arrow.svg');
  min-width: 190px;
  outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.content {
  width:100%;
  overflow: hidden;
}

.list{
  width:100%;

  @media screen and (min-width: 992px){
      width:75.3%;
      float: left;
  }

  @media screen and (min-width: 1025px){
      width:74.3%;

  }

  ul li{
    display: flex;
    background: $white;
    flex-direction: column;
    margin-bottom: 10px;
    opacity: 1;
    transition: all .3s ease-in-out;
    visibility: visible;
    height: 100%;

    @media screen and (min-width: 992px){
        margin-bottom: 1.7%;
        flex-direction: row;
    }

    @media screen and (min-width: 1025px){
        margin-bottom: 2.7%;
    }

  }

  &--image{
    position: relative;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    transition: all .5s ease-in-out;
    max-width: 645px;

    @media screen and (min-width: 992px){
        max-width: 360px;
    }

    @media screen and (min-width: 1025px){
        width:238px;
        margin: 0;
    }
  }

  &--image .stars{
    padding-left: 15px;
  }

  &--image .stars .full{
    display: inline-block;
    width:15px;
    height:15px;
    background: url('../../assets/img/star.svg');
    background-repeat: no-repeat;
  }

  &--image .stars .half{
    display: inline-block;
    width:15px;
    height:15px;
    background: url('../../assets/img/star-half.png');
    background-repeat: no-repeat;
  }

  &--image .heart{
    position: absolute;
    left:0;
    right: 0;
    margin:0 auto;
    top: 50%;
    transform: translateY(-50%);
    width:29px;
    height: 28px;
    background: url('../../assets/img/heart.svg');
    background-repeat: no-repeat;
    transition: all .3s ease;

    &:hover{
      background: url('../../assets/img/heart-hover.svg');
      transition: all .3s ease;
    }

    &:active{
      background: url('../../assets/img/heart-active.svg');
      transition: all .3s ease;
    }
  }

  &--image .rating{
    position: absolute;
    width:100%;
    bottom:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: center;
  }

  &--image .rating span{
    color:$white;
    font-size: $smallest;
    font-family: $normal;
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
  }

  &--image .discount{
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 45px 45px 0;
    border-color: transparent $red transparent transparent;
    cursor: help;
  }

  &--image .discount .percent{
    text-align: center;
    font-family: $normal;
    top: 7px;
    left: 8px;
    position: relative;
    width: 45px;
    color: $white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 12px;
  }

  &--middle{
    display: inline-block;
    width: 100%;
    padding: 20px 12px;
    border-right: 1px solid $slid-back;

    @media screen and (min-width: 992px){
        width: 43.8%;
    }

    @media screen and (min-width: 1025px){
        padding: 20px 22px;
    }
  }

  &--middle a{
    display: block;
  }

  &--middle h4{
    font-size: $font-lg;
    line-height: 24px;
    color:$text;
    font-family: $bold;
    margin-bottom: 10px;
  }

  &--middle blockquote{
    margin-bottom: 20px;
  }

  &--middle .values{
    overflow: hidden;
  }

  &--middle .values dt{
    width:32%;
    float:left;
    font-family: $normal;
    color:$grayish;
    font-size: 8px;
    text-transform: uppercase;
    line-height: 18px;

    @media screen and (min-width: 1025px){
        font-size: $smallest;
    }
  }

  &--middle .values dd{
    width:68%;
    float:left;
    font-family: $normal;
    color:$text;
    font-size: $font-sm;
    line-height: 20px;
  }

  &--middle .values dd a{
    color:$text;
  }

  &--offer{
    padding: 20px 12px;
    width:100%;

    @media screen and (min-width: 992px){
        width:28%;
    }

    @media screen and (min-width: 1025px){
        padding: 20px 22px;
    }
  }

  &--offer h4{
    font-family:$bold;
    font-size: $font;
    line-height: 23px;
    color:$text;
    text-align: right;
    margin-bottom: 5px;
  }

  &--offer .price{
    text-align: right;
  }

  &--offer .price .sum, &--offer .price .cur{
    color:$text;
    font-size: $font-lg;
    line-height: 23px;
    font-family: $normal;
    padding-right: 3px;
  }

  &--offer .ico{
    background-color:$green;
    border-radius: 50%;
    width:20px;
    height: 20px;
    display: inline-block;
    background-image: url('../../assets/img/rocket.svg');
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;

  }

  &--offer table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid $slid-back;
    border-bottom: 1px solid $slid-back;
    margin:20px 0;
  }

  &--offer table td {
    color:$text;
    font-family: $normal;
    font-size: $font-sm;
    line-height: 20px;
    text-align: center;

    &.red{
      color:$red;
    }
  }

  &--offer table tr:first-child td {
    padding-top: 7px;
  }

  &--offer table tr:last-child td {
    padding-bottom: 7px;
  }


  &--offer .blue{
    color:$white;
    font-size: $font;
    background: $blue;
    display: block;
    line-height: 18px;
    text-align: center;
    font-family: $normal;
    padding: 7px 0;
    transition: all .3s ease;
    cursor: pointer;

    &:hover{
      border-color: $blue-hover;
      background: $blue-hover;
      color: $white;
      transition: all .3s ease;
    }
  }
}
