aside{
  // max-width: 320px;
  width:100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 992px){
      margin-right: 1.7%;
      max-width: 260px;
      width:23%;
      float: left;
  }

  @media screen and (min-width: 1025px){
      margin-right: 2.7%;
  }

  .title--bar{
    background: $blue;
    padding:15px 24px;
    margin-bottom: 10px;
  }
  .title--bar h5{
    color:$white;
    font-size:$font;
    font-family: $bold;
    line-height: 20px;
  }

  .side{
    background: $white;
    margin-bottom: 10px;
    padding: 18px 24px 38px 24px;

    h5{
      font-size: $font;
      font-family: $bold;
      line-height: 20px;
      color:$text;
      margin-bottom: 16px;
    }

    &--list li{
      padding: 0 0 10px 23px;
      position: relative;
      line-height: 18px;
    }

    &--list li a{
      font-size: $font;
      font-family: $normal;
      color:$text;
    }

    &--list li span{
      font-size: $font;
      font-family: $normal;
      color:$gray-l;
    }

    &--datepicker .inp{
      background-image: url('../../assets/img/cal.svg');
      background-repeat: no-repeat;
      background-position: 8px 9px;
      width:100%;
      height: 34px;
      padding: 0 7px 2px 0;
      text-indent: 27px;
      border: 1px solid $gray-l;
      font-size: $font;
    }

    &--slider .noUi-target {
      height: 8px;
      border: none;
      background: $slid-back;
      border-radius: 0;
    }

    &--slider .noUi-target .noUi-handle{
      width: 20px;
      height: 20px;
      left: -6px;
      top: -6px;
      box-shadow: none;
      border-radius: 10px;
      border-color: $blue;
      border-width: 2px;
    }

    &--slider .noUi-handle:after, &--slider .noUi-handle:before{
      background: transparent;
    }

    &--slider .noUi-handle.noUi-active{
      background: $blue;
    }

    &--slider .noUi-target .noUi-connect {
      background: $blue;
      box-shadow: none;
    }

    &--slider .noUi-target .noUi-background {
      background: $slid-back;
      border-radius: 0;
    }

    &--slider .noUi-target .noUi-connect {
      background: $blue;
      box-shadow: none;
    }

    &--days {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
    }

    &--days div{
      font-size: $font-sm;
      color:$grayish;
      font-family: $normal;
    }

    &--days span{
      display: inline-block;
      margin-right: 3px;
    }
  }
}
