@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 1em; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Helvetica-Normal';
  src: url("../../assets/fonts/Helvetica-Normal.eot");
  src: url("../../assets/fonts/Helvetica-Normal.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Helvetica-Normal.woff2") format("woff2"), url("../../assets/fonts/Helvetica-Normal.woff") format("woff"), url("../../assets/fonts/Helvetica-Normal.ttf") format("truetype"), url("../../assets/fonts/Helvetica-Normal.svg#Helvetica-Normal") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Bold';
  src: url("../../assets/fonts/Helvetica-Bold.eot");
  src: url("../../assets/fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Helvetica-Bold.woff2") format("woff2"), url("../../assets/fonts/Helvetica-Bold.woff") format("woff"), url("../../assets/fonts/Helvetica-Bold.ttf") format("truetype"), url("../../assets/fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica-Oblique';
  src: url("../../assets/fonts/Helvetica-Oblique.eot");
  src: url("../../assets/fonts/Helvetica-Oblique.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Helvetica-Oblique.woff2") format("woff2"), url("../../assets/fonts/Helvetica-Oblique.woff") format("woff"), url("../../assets/fonts/Helvetica-Oblique.ttf") format("truetype"), url("../../assets/fonts/Helvetica-Oblique.svg#Helvetica-Oblique") format("svg");
  font-weight: 500;
  font-style: italic; }

/*! nouislider - 9.2.0 - 2017-01-11 10:35:35 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */ }

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0; }

.noUi-handle {
  position: relative;
  z-index: 1; }

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px; }

/* Styling;
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB; }

.noUi-connect {
  background: #3FB8AF;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  transition: background 450ms; }

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB; }

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed; }

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 0.625rem; }

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px; }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */
.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
  content: " ";
  display: table; }

.pika-single:after {
  clear: both; }

.pika-single {
  *zoom: 1; }

.pika-single.is-hidden {
  display: none; }

.pika-single.is-bound {
  position: absolute;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5); }

.pika-lendar {
  float: left;
  width: 240px;
  margin: 8px; }

.pika-title {
  position: relative;
  text-align: center; }

.pika-label {
  display: inline-block;
  *display: inline;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
  background-color: #fff; }

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  /* hide text using text-indent trick, using width value (it's enough) */
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  opacity: .5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  *position: absolute;
  *top: 0; }

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==");
  *left: 0; }

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=");
  *right: 0; }

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; }

.pika-select {
  display: inline-block;
  *display: inline; }

.pika-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0; }

.pika-table th,
.pika-table td {
  width: 14.285714285714286%;
  padding: 0; }

.pika-table th {
  color: #999;
  font-size: 0.75rem;
  line-height: 1.5625rem;
  font-weight: bold;
  text-align: center; }

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: 0;
  width: 100%;
  padding: 5px;
  color: #666;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-align: right;
  background: #f5f5f5; }

.pika-week {
  font-size: 0.6875rem;
  color: #999; }

.is-today .pika-button {
  color: #33aaff;
  font-weight: bold; }

.is-selected .pika-button,
.has-event .pika-button {
  color: #fff;
  font-weight: bold;
  background: #33aaff;
  box-shadow: inset 0 1px 3px #178fe5;
  border-radius: 3px; }

.has-event .pika-button {
  background: #005da9;
  box-shadow: inset 0 1px 3px #0076c9; }

.is-disabled .pika-button,
.is-inrange .pika-button {
  background: #D5E9F7; }

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
  border-radius: 3px; }

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px; }

.is-disabled .pika-button,
.is-outside-current-month .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }

.pika-button:hover,
.pika-row.pick-whole-week:hover .pika-button {
  color: #fff;
  background: #ff8000;
  box-shadow: none;
  border-radius: 3px; }

/* styling for abbr */
.pika-table abbr {
  border-bottom: none;
  cursor: help; }

.overlay-loader {
  display: block;
  margin: auto;
  width: 97px;
  height: 97px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 97px;
  height: 97px;
  animation-name: rotateAnim;
  -o-animation-name: rotateAnim;
  -ms-animation-name: rotateAnim;
  -webkit-animation-name: rotateAnim;
  -moz-animation-name: rotateAnim;
  animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  -ms-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear; }

.loader div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.loader div:nth-child(odd) {
  border-top: none;
  border-left: none; }

.loader div:nth-child(even) {
  border-bottom: none;
  border-right: none; }

.loader div:nth-child(2) {
  border-width: 2px;
  left: 0px;
  top: -4px;
  width: 12px;
  height: 12px; }

.loader div:nth-child(3) {
  border-width: 2px;
  left: -1px;
  top: 3px;
  width: 18px;
  height: 18px; }

.loader div:nth-child(4) {
  border-width: 3px;
  left: -1px;
  top: -4px;
  width: 23px;
  height: 23px; }

.loader div:nth-child(5) {
  border-width: 3px;
  left: -1px;
  top: 4px;
  width: 31px;
  height: 31px; }

.loader div:nth-child(6) {
  border-width: 4px;
  left: 0px;
  top: -4px;
  width: 39px;
  height: 39px; }

.loader div:nth-child(7) {
  border-width: 4px;
  left: 0px;
  top: 6px;
  width: 49px;
  height: 49px; }

@keyframes rotateAnim {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes rotateAnim {
  from {
    -webkit-transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0deg); } }

body {
  background: #f5f5f5; }

main {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px; }
  @media screen and (min-width: 1025px) {
    main {
      padding: 0px; } }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

.hidden {
  opacity: 0 !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  height: 0 !important;
  visibility: hidden !important;
  margin-bottom: 0% !important;
  transition: all .3s ease-in-out; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

blockquote {
  line-height: 1.3125rem;
  font-size: 0.75rem;
  color: #333333;
  font-family: "Helvetica-Oblique"; }

.sort {
  padding: 50px 0 25px 0;
  width: 100%;
  text-align: right;
  font-family: "Helvetica-Bold";
  font-size: 0.875rem;
  color: #999999;
  line-height: 1.25rem;
  display: none; }
  @media screen and (min-width: 992px) {
    .sort {
      display: block; } }
  .sort.mob {
    display: block !important;
    text-align: left;
    padding: 10px 24px 10px 24px;
    color: #409CD1;
    background: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #409CD1; }
    @media screen and (min-width: 992px) {
      .sort.mob {
        display: none !important; } }
  .sort.mob select {
    color: #409CD1;
    border: none; }

.sort select {
  margin-left: 14px;
  text-indent: 7.5px;
  line-height: 2.5625rem;
  padding: 0 30px 0 7.5px;
  height: 43px;
  border-radius: 0;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background: #fff no-repeat 92%;
  background-image: url("../../assets/img/arrow.svg");
  min-width: 190px;
  outline: none; }

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

.content {
  width: 100%;
  overflow: hidden; }

.list {
  width: 100%; }
  @media screen and (min-width: 992px) {
    .list {
      width: 75.3%;
      float: left; } }
  @media screen and (min-width: 1025px) {
    .list {
      width: 74.3%; } }
  .list ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    transition: all .3s ease-in-out;
    visibility: visible;
    height: 100%; }
    @media screen and (min-width: 992px) {
      .list ul li {
        margin-bottom: 1.7%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media screen and (min-width: 1025px) {
      .list ul li {
        margin-bottom: 2.7%; } }
  .list--image {
    position: relative;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    transition: all .5s ease-in-out;
    max-width: 645px; }
    @media screen and (min-width: 992px) {
      .list--image {
        max-width: 360px; } }
    @media screen and (min-width: 1025px) {
      .list--image {
        width: 238px;
        margin: 0; } }
  .list--image .stars {
    padding-left: 15px; }
  .list--image .stars .full {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../../assets/img/star.svg");
    background-repeat: no-repeat; }
  .list--image .stars .half {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../../assets/img/star-half.png");
    background-repeat: no-repeat; }
  .list--image .heart {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 29px;
    height: 28px;
    background: url("../../assets/img/heart.svg");
    background-repeat: no-repeat;
    transition: all .3s ease; }
    .list--image .heart:hover {
      background: url("../../assets/img/heart-hover.svg");
      transition: all .3s ease; }
    .list--image .heart:active {
      background: url("../../assets/img/heart-active.svg");
      transition: all .3s ease; }
  .list--image .rating {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .list--image .rating span {
    color: #ffffff;
    font-size: 0.625rem;
    font-family: "Helvetica-Normal";
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px; }
  .list--image .discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 45px 45px 0;
    border-color: transparent #E74C3C transparent transparent;
    cursor: help; }
  .list--image .discount .percent {
    text-align: center;
    font-family: "Helvetica-Normal";
    top: 7px;
    left: 8px;
    position: relative;
    width: 45px;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 0.75rem; }
  .list--middle {
    display: inline-block;
    width: 100%;
    padding: 20px 12px;
    border-right: 1px solid #f2f2f2; }
    @media screen and (min-width: 992px) {
      .list--middle {
        width: 43.8%; } }
    @media screen and (min-width: 1025px) {
      .list--middle {
        padding: 20px 22px; } }
  .list--middle a {
    display: block; }
  .list--middle h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #333333;
    font-family: "Helvetica-Bold";
    margin-bottom: 10px; }
  .list--middle blockquote {
    margin-bottom: 20px; }
  .list--middle .values {
    overflow: hidden; }
  .list--middle .values dt {
    width: 32%;
    float: left;
    font-family: "Helvetica-Normal";
    color: #999999;
    font-size: 0.5rem;
    text-transform: uppercase;
    line-height: 1.125rem; }
    @media screen and (min-width: 1025px) {
      .list--middle .values dt {
        font-size: 0.625rem; } }
  .list--middle .values dd {
    width: 68%;
    float: left;
    font-family: "Helvetica-Normal";
    color: #333333;
    font-size: 0.75rem;
    line-height: 1.25rem; }
  .list--middle .values dd a {
    color: #333333; }
  .list--offer {
    padding: 20px 12px;
    width: 100%; }
    @media screen and (min-width: 992px) {
      .list--offer {
        width: 28%; } }
    @media screen and (min-width: 1025px) {
      .list--offer {
        padding: 20px 22px; } }
  .list--offer h4 {
    font-family: "Helvetica-Bold";
    font-size: 0.875rem;
    line-height: 1.4375rem;
    color: #333333;
    text-align: right;
    margin-bottom: 5px; }
  .list--offer .price {
    text-align: right; }
  .list--offer .price .sum, .list--offer .price .cur {
    color: #333333;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    font-family: "Helvetica-Normal";
    padding-right: 3px; }
  .list--offer .ico {
    background-color: #41C4AB;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../../assets/img/rocket.svg");
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top; }
  .list--offer table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin: 20px 0; }
  .list--offer table td {
    color: #333333;
    font-family: "Helvetica-Normal";
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-align: center; }
    .list--offer table td.red {
      color: #E74C3C; }
  .list--offer table tr:first-child td {
    padding-top: 7px; }
  .list--offer table tr:last-child td {
    padding-bottom: 7px; }
  .list--offer .blue {
    color: #ffffff;
    font-size: 0.875rem;
    background: #409CD1;
    display: block;
    line-height: 1.125rem;
    text-align: center;
    font-family: "Helvetica-Normal";
    padding: 7px 0;
    transition: all .3s ease;
    cursor: pointer; }
    .list--offer .blue:hover {
      border-color: #66b0da;
      background: #66b0da;
      color: #ffffff;
      transition: all .3s ease; }

aside {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 992px) {
    aside {
      margin-right: 1.7%;
      max-width: 260px;
      width: 23%;
      float: left; } }
  @media screen and (min-width: 1025px) {
    aside {
      margin-right: 2.7%; } }
  aside .title--bar {
    background: #409CD1;
    padding: 15px 24px;
    margin-bottom: 10px; }
  aside .title--bar h5 {
    color: #ffffff;
    font-size: 0.875rem;
    font-family: "Helvetica-Bold";
    line-height: 1.25rem; }
  aside .side {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 18px 24px 38px 24px; }
    aside .side h5 {
      font-size: 0.875rem;
      font-family: "Helvetica-Bold";
      line-height: 1.25rem;
      color: #333333;
      margin-bottom: 16px; }
    aside .side--list li {
      padding: 0 0 10px 23px;
      position: relative;
      line-height: 1.125rem; }
    aside .side--list li a {
      font-size: 0.875rem;
      font-family: "Helvetica-Normal";
      color: #333333; }
    aside .side--list li span {
      font-size: 0.875rem;
      font-family: "Helvetica-Normal";
      color: #CCCCCC; }
    aside .side--datepicker .inp {
      background-image: url("../../assets/img/cal.svg");
      background-repeat: no-repeat;
      background-position: 8px 9px;
      width: 100%;
      height: 34px;
      padding: 0 7px 2px 0;
      text-indent: 27px;
      border: 1px solid #CCCCCC;
      font-size: 0.875rem; }
    aside .side--slider .noUi-target {
      height: 8px;
      border: none;
      background: #f2f2f2;
      border-radius: 0; }
    aside .side--slider .noUi-target .noUi-handle {
      width: 20px;
      height: 20px;
      left: -6px;
      top: -6px;
      box-shadow: none;
      border-radius: 10px;
      border-color: #409CD1;
      border-width: 2px; }
    aside .side--slider .noUi-handle:after, aside .side--slider .noUi-handle:before {
      background: transparent; }
    aside .side--slider .noUi-handle.noUi-active {
      background: #409CD1; }
    aside .side--slider .noUi-target .noUi-connect {
      background: #409CD1;
      box-shadow: none; }
    aside .side--slider .noUi-target .noUi-background {
      background: #f2f2f2;
      border-radius: 0; }
    aside .side--slider .noUi-target .noUi-connect {
      background: #409CD1;
      box-shadow: none; }
    aside .side--days {
      margin-bottom: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    aside .side--days div {
      font-size: 0.75rem;
      color: #999999;
      font-family: "Helvetica-Normal"; }
    aside .side--days span {
      display: inline-block;
      margin-right: 3px; }
